:root{
--base: #ffc600;
--spacing: 10px;
--blur: 10px;
}

img{
    width: 800px;
    height: 800px;
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
    object-fit: cover;
}

body{
    text-align: center;
}

